.horizontal-container {
    display: flex;
    justify-content: space-between;
}

.vertical-container {
    display: flex;
    flex-direction: column;
}

.field-header {
    font-family: Roboto;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 18px;
}

.field-small-header {
    font-family: Roboto;
    font-size: 12px;
    margin-bottom: 9px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

#add-chart-form {
    display: flex;
    flex-direction: column;
    width: 733px;
    margin: 35px auto;
    padding: 34px 41px;
    box-shadow: 0px 4px 24px rgba(173, 173, 173, 0.24);
}

h1 {
    font-family: Poppins;
    font-weight: bold;
    font-size: 28px;
    line-height: 42px;
    margin-bottom: 22px;
}

h3 {
    font-family: Poppins;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 17px;
}

.input-label {
    display: flex;
    flex-direction: column;
    font-family: Roboto;
    font-size: 12px;
    margin-bottom: 34px;
    font-weight: bold;
}

.label-header {
    margin-bottom: 19px;
}

input[type=text], input[type=number], textarea, .month-selector {
    background: #F4F6F8;
    border-radius: 3px;
    padding: 16px 22px;
    border: none;
    font-family: Roboto;
    font-size: 12px;
    color: #000000;
}

.month-selector {
    width: 194px;
}

.year-selector {
    width: 91px;
}

.category-label {
    display: flex;
    align-items: center;
    font-family: Roboto;
    font-size: 12px;
    margin-bottom: 24px;
}

input[type=checkbox] {
    display: none;
}

.custom-checkbox {
    width: 16px;
    height: 16px;
    background: #F4F6F8;
    border-radius: 3px;
    margin-right: 14px;
}

input[type=checkbox]:checked ~ .custom-checkbox {
    background-color: #7E7D7A;
}

.timespan-container {
    margin-bottom: 13px;
}

.timespan-single-container {
    width: 45%;
}

textarea {
    height: 200px;
}

#add-chart-area {
    display: flex;
}

#chart-data-area {
    display: flex;
    flex-direction: column;
}

#chart-preview-area {
    flex-grow: 1;
    padding: 20px;
}

.preview-image {
    max-width: 100%;
}

.invisible {
    visibility: hidden;
}

#fake-data-chart {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: white;
    padding: 60px;
}

.radio-label {
    display: flex;
    font-family: Roboto;
    font-size: 12px;
    margin-bottom: 3px;
}

input[type=radio] {
    margin-right: 10px;
}

#chart-file-button {
    display: none;
}

#chart-file-label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 218px;
    height: 55px;
    border: 1px solid #214177;
    filter: drop-shadow(6px 6px 15px rgba(33, 65, 119, 0.23));
    border-radius: 3px;
    font-family: Poppins;
    font-weight: 500;
    font-size: 14px;
    color: #214177;
    margin-top: 29px;
}

#submit-button {
    width: 174px;
    height: 55px;
    background: #214177;
    box-shadow: 6px 6px 15px rgba(33, 65, 119, 0.23);
    border-radius: 3px;
    border: none;
    font-family: Poppins;
    font-weight: bold;
    font-size: 14px;
    color: #FFFFFF;
    margin-top: 48px;
}
