body {
    background: rgba(3, 14, 32, 0.9);
}

#chart-section {
    width: calc(100% - 244px);
    margin: 73px 122px;
    padding: 32px 57px;
    background-color: #F2F6F6;
}

h1 {
    font-family: Poppins;
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 25px;
}

#chart-image {
    margin-bottom: 29px;
}

#source {
    font-family: Roboto;
    font-size: 12px;
    margin-bottom: 15px;
}

#description {
    font-family: Roboto;
    font-size: 12px;
}
