body {
    background: rgba(3, 14, 32, 0.9);
}

#chart-section {
    width: calc(100% - 244px);
    margin: 73px 122px;
    padding: 32px 57px;
    background-color: #F2F6F6;
}

h1 {
    font-family: Poppins;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 25px;
}

#chart-container, #chart-image {
    margin-bottom: 29px;
    border-radius: 15px;
    border: 1px solid #BDD8F1;
}

#chart-container {
    padding: 20px;
    background-color: white;
}

#source {
    font-family: Roboto;
    font-size: 12px;
    margin-bottom: 37px;
}

.chart-label {
    display: inline-block;
    border: 1px solid #BDD8F1;
    border-radius: 16px;
    font-family: Roboto;
    font-weight: 500;
    font-size: 11px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    padding: 10px 15px;
    margin-right: 15px;
}

#description {
    font-family: Roboto;
    font-size: 12px;
    margin-top: 20px;
}
